body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 300px;
}

p {
  font-size: 16px;
  margin-bottom: 0px;
}

a {
  color: rgb(236, 221, 34);
  transition: all 0.5s;
  &:hover {
    color: rgb(204, 191, 29);
  }
}
